@charset "UTF-8";

body {
  -webkit-text-size-adjust: 100%;
}
img { max-width:100%; }
table { width:100%; }

// ブレイクポイント設定 --------------------------------------
$bp-xlarge: 1200px;
$bp-large: 1000px;
$bp-medium: 960px; //tab
$bp-small: 640px; //sp
$bp-xsmall: 480px; //min
$bp-xxsmall: 320px; //max-min
// 呼ぶ時 @include media(small) {}
@mixin media($media-width) {
  @if $media-width == xlarge {
    @media screen and (max-width: $bp-xlarge) {
      @content;
    }
  }
  @else if $media-width == large {
    @media screen and (max-width: $bp-large) {
      @content;
    }
  }
  @else if $media-width == medium {
    @media screen and (max-width: $bp-medium) {
      @content;
    }
  }
  @else if $media-width == small {
    @media screen and (max-width: $bp-small) {
      @content;
    }
  }
  @else if $media-width == xsmall {
    @media screen and (max-width: $bp-xsmall) {
      @content;
    }
  }
  @else if $media-width == xxsmall {
    @media screen and (max-width: $bp-xxsmall) {
      @content;
    }
  }
}

// backgroundColor ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$mainColor: #eee;
$backColor: #e8fbaf;

// display:flex ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
@mixin display-flex {
  display: flex;
}
@mixin display-flex--colomn {
  display: flex;
  flex-direction: column;
}
@mixin flex-wrap($wrap) {
  @if $wrap == nowrap {
    flex-wrap: nowrap;
  }
  @else {
    flex-wrap: wrap;
  }
}
@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
       -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
       -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
       -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
     -moz-justify-content: $value;
          justify-content: $value;
}

// 表示・非表示切り替え ---------------------------------------
// サイズ以下で表示
.on {
  &--xxsmall {
    display:none;
    @include media(xxsmall) { display:block; }
  }
  &--xsmall {
    display:none;
    @include media(xsmall) { display:block; }
  }
  &--small {
    display:none;
    @include media(small) { display:block; }
  }
  &--medium {
    display:none;
    @include media(medium) { display:block; }
  }
}
// サイズ以下で非表示
.off {
  &--xxsmall {
    @include media(xxsmall) { display:none; }
  }
  &--xsmall {
    @include media(xsmall) { display:none; }
  }
  &--small {
    @include media(small) { display:none; }
  }
  &--medium {
    @include media(medium) { display:none; }
  }
  &--large {
    @include media(large) { display:none; }
  }
}
