@charset "UTF-8";
@import 'html5reset-1.6.1.css';

/***** layout制御 **********************/
// ブレイクポイント設定
$bp-xlarge: 1200px;
$bp-large: 1000px;
$bp-medium: 960px; //tab
$bp-small: 640px; //sp
$bp-xsmall: 480px; //min
$bp-xxsmall: 320px; //max-min
// 呼ぶ時 @include media(small) {}
@mixin media($media-width) {
  @if $media-width == xlarge {
    @media screen and (max-width: $bp-xlarge) {
      @content;
    }
  }
  @else if $media-width == large {
    @media screen and (max-width: $bp-large) {
      @content;
    }
  }
  @else if $media-width == medium {
    @media screen and (max-width: $bp-medium) {
      @content;
    }
  }
  @else if $media-width == small {
    @media screen and (max-width: $bp-small) {
      @content;
    }
  }
  @else if $media-width == xsmall {
    @media screen and (max-width: $bp-xsmall) {
      @content;
    }
  }
  @else if $media-width == xxsmall {
    @media screen and (max-width: $bp-xxsmall) {
      @content;
    }
  }
}

// 字組指定 mainに設定 ------------------
//デフォルトセンター(align-c)
.align--c {
  text-align: center;
  //960以下でデフォルトjustify  英語ページのみleft
  &--md {
    text-align: center;
    @include media(medium) {
      text-align: justify;
      .en & { text-align: left; }
    }
  }
  //640以下でデフォルトjustify  英語ページのみleft
  &--sm {
    text-align: center;
    @include media(small) {
      text-align: justify;
      .en & { text-align: left; }
    }
  }
}

// デフォルトjustify  英語ページのみleft
.align--j {
  text-align: justify;
  .en & {
    text-align: left;
  }
}

// display:flex ------------------
@mixin display-flex {
  display: flex;
}
@mixin display-flex--colomn {
  display: flex;
  flex-direction: column;
}
@mixin flex-wrap($wrap) {
  @if $wrap == nowrap {
    flex-wrap: nowrap;
  }
  @else {
    flex-wrap: wrap;
  }
}
@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
       -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
       -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
       -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
     -moz-justify-content: $value;
          justify-content: $value;
}

// 表示・非表示切り替え ------------------
// サイズ以下で表示
.on {
  &--xxsmall {
    display:none;
    @include media(xxsmall) { display:block; }
  }
  &--xsmall {
    display:none;
    @include media(xsmall) { display:block; }
  }
  &--small {
    display:none;
    @include media(small) { display:block; }
  }
  &--medium {
    display:none;
    @include media(medium) { display:block; }
  }
}
// サイズ以下で非表示
.off {
  &--xxsmall {
    @include media(xxsmall) { display:none; }
  }
  &--xsmall {
    @include media(xsmall) { display:none; }
  }
  &--small {
    @include media(small) { display:none; }
  }
  &--medium {
    @include media(medium) { display:none; }
  }
  &--large {
    @include media(large) { display:none; }
  }
}

// よく使うCSS :::::::::::::::::::::::
html {
  font-family: "メイリオ","Meirio","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
}
body {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}
img { max-width:100%; }
table { width:100%; }
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
p, dl, ul {
  font-size: .9rem;
  margin-bottom: 1%;
  @include media(small) {
    font-size: calc( .93rem - 2px );
  }
  @include media(xsmall) {
    font-size: calc( .93rem - 4px );
  }
}
a {
  text-decoration: none;
  color: #666;
  &:hover {
     text-decoration: none;
  }
  &img:hover {
    filter: alpha(opacity=80);
    -moz-opacity:0.80;
    opacity:0.80;
 }
}
li { list-style: none;}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
dt {
  font-weight: bold;
}
//common :::::::::::::::::::::::::::::::::::
// text-style -------------
        // .logotype { font-family: 'Roboto Slab', serif; }
.title {
  font-size: 1.8rem;
  line-height:60px;
  letter-spacing:2px;
  &--min {
    font-size: 1rem;
  }
}
.subtitle {
  font-size: 1.6rem;
}
.heading {
  &--section {
    font-size: 1.4rem;
    border-bottom: 1px solid #666;
    margin-bottom: 1%;
  }
  &--sub {
    font-size: 1.2rem;
    background: #eee;
    border-left: solid 5px #aaa;
    padding: 1%;
    margin: 2% 0 1.5%;
  }
  &--description {
    font-size: 1rem;
    font-weight: bold;
  }
}
.sentence {
  text-align: left;
  @include media(small) {
    font-size: .75rem;
  }
}
// box base --------------------
$min-small: 15vw;
$max-small: 4vw;
.header {
  background:rgba(0,0,0,0.1);
  padding-top: 1%;
  padding-bottom: 1%;
  &-area {
    padding: 0 $min-small;
    z-index: 20000;
    width:100%;
  }
  @include media(small) {
    &-area {
      padding: 0 $max-small;
    }
  }
}
.container {
  padding: 0 $min-small;
  margin: 0 auto;
  @include display-flex;
  @include justify-content(space-between);
  &__main {
  width: 76%;
  }
  &__aside {
  width: 22%;
  border: solid 1px #ddd;
  padding: 1%;
  }
  @include media(small) {
    padding: 0 $max-small;
    display: block;
    &__main, &__aside {
      width: 100%;
    }
  }
}
.contents{
  padding-bottom: 2%;
  &-area {
    // padding: 0 18vw;
    // margin: 0 auto;
  }
}
.description-area {
  background: #f1ffc1;
  padding: 2%;
}
.mb {
  &-2 { margin-bottom: 2%}
}
