@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

.on--xxsmall {
  display: none;
}
@media screen and (max-width: 320px) {
  .on--xxsmall {
    display: block;
  }
}
.on--xsmall {
  display: none;
}
@media screen and (max-width: 480px) {
  .on--xsmall {
    display: block;
  }
}
.on--small {
  display: none;
}
@media screen and (max-width: 640px) {
  .on--small {
    display: block;
  }
}
.on--medium {
  display: none;
}
@media screen and (max-width: 960px) {
  .on--medium {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .off--xxsmall {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .off--xsmall {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .off--small {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .off--medium {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .off--large {
    display: none;
  }
}

.header {
  background: #eee;
  padding-top: 1%;
  padding-bottom: 1%;
}
.header-area {
  padding: 0 15vw;
  z-index: 20000;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .header-area {
    padding: 0 4vw;
  }
}

.container {
  padding: 0 15vw;
  margin: 0 auto;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.container__main {
  width: 76%;
}
.container__aside {
  width: 22%;
  border: solid 1px #ddd;
  padding: 1%;
}
@media screen and (max-width: 640px) {
  .container {
    padding: 0 4vw;
    display: block;
  }
  .container__main, .container__aside {
    width: 100%;
  }
}

.contents {
  padding-bottom: 2%;
}

.description-area {
  background: #e8fbaf;
  padding: 2%;
}
.description-area .note dt {
  border-top: solid 1px #999;
  padding-top: 1%;
  margin-bottom: .8%;
}
.description-area .note dt::before {
  content: "▶︎";
  color: #999;
}

.annotation {
  border-bottom: solid 1px #ddd;
  padding: .5rem 0;
}

.mb-2 {
  margin-bottom: 2%;
}

html {
  font-family: "メイリオ","Meirio","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
}

body {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p, dl, ul {
  font-size: .9rem;
  margin-bottom: 1%;
}
@media screen and (max-width: 640px) {
  p, dl, ul {
    font-size: calc( .93rem - 2px );
  }
}
@media screen and (max-width: 480px) {
  p, dl, ul {
    font-size: calc( .93rem - 4px );
  }
}

a {
  text-decoration: none;
  color: #666;
}
a:hover {
  text-decoration: none;
}
aimg:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  opacity: 0.80;
}

li {
  list-style: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

dt {
  font-weight: bold;
}

.title {
  font-size: 1.8rem;
  line-height: 60px;
  letter-spacing: 2px;
}
.title--min {
  font-size: 1rem;
}

.subtitle {
  font-size: 1.6rem;
}

.heading--section {
  font-size: 1.4rem;
  border-bottom: 1px solid #666;
  margin-bottom: 1%;
}
.heading--sub {
  font-size: 1.2rem;
  background: #eee;
  border-left: solid 5px #aaa;
  padding: 1%;
  margin: 2% 0 1.5%;
}
.heading--description {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: .6rem;
}

.sentence {
  text-align: left;
}
@media screen and (max-width: 640px) {
  .sentence {
    font-size: .75rem;
  }
}

.align--c {
  text-align: center;
}
.align--c--md {
  text-align: center;
}
@media screen and (max-width: 960px) {
  .align--c--md {
    text-align: justify;
  }
  .en .align--c--md {
    text-align: left;
  }
}
.align--c--sm {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .align--c--sm {
    text-align: justify;
  }
  .en .align--c--sm {
    text-align: left;
  }
}

.align--j {
  text-align: justify;
}
.en .align--j {
  text-align: left;
}

/*# sourceMappingURL=main.css.map */
